<!DOCTYPE html>
<html>
<head>
  <title>Currency pairs</title>
</head>
<body>
  <h1>Currency pairs</h1>
  <ul>
    <% @symbols.each do |symbol| %>
      <li><%= symbol %></li>
    <% end %>
  </ul>
</body>
</html>
